<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
        <p>URL Generated : <a href="http://localhost:8080/url/<%= id %>">http://localhost:8080/url/<%= id %></a>
        </p>
    <% } %>
    <div>
        <form method = "POST" action = "/url">
            <label>Enter your URL : </label>
            <input type="text" placeholder="https://example.com" name="url"></input>
            <button type="submit">Generate</button>
        </form>
    </div>
    <% if (locals.urls) { %>
        <table>
            <thead>
                <th>Sr.no</th>
                <th>ShortURL</th>
                <th>RedirectedURL</th>
                <th>Clicks</th>

            </thead>
            <tbody>
                <% urls.forEach((url,index) => { %>
                 <tr>
                    <td><%= index+1 %></td>
                    <td><%= url.shortUrl %></td>
                    <td><%= url.requiredUrl %></td>
                    <td><%= url.VisitHistory.length %></td>
                 </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
      
    
</body>
</html>